
  <div class="message well well-sm">
  <p>
    <small><em>Created <%= time_ago_in_words(message.created_at) %> ago</em></small> <br />
    <strong><%= message.user.name.capitalize %>: </strong>
    <span class="content">
      <%= message.content %>
    </span>
  </p>
</div>
